body,p,h1,h2,h3,form,label,input,button {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}
.container {
    display: flex;
    justify-content: center;
}
#navbarNav {
    justify-content: flex-end;
}
form {
    display: flex;
    flex-direction: column;
    
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    background-color: #f8f9fa;
    padding: 1em;
}
footer p {
    margin-right: 1em;

}
footer p:last-child {
    margin-right: 0;
}
.footer_nav {
    display: flex;
    justify-content: space-evenly;
}
.footer_social {
    display: flex;
    justify-content: space-evenly;
}