body,
p,
h1,
h2,
h3,
form,
label,
input,
button {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}
.container {
  display: flex;
  justify-content: center;
}
#navbarNav {
  justify-content: flex-end;
}
form {

    display: flex;
    flex-direction: column;
}
.input_questions{
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}
.radio_buttons {
    flex-direction:row;
}
.add_expense_button {
    margin-top: 10px;
    border-radius: 20px;
    background-color: green;
    color: white;

  display: flex;
  flex-direction: column;

}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  background-color: #f8f9fa;
  padding: 1em;
}
footer p {
  margin-right: 1em;
}
footer p:last-child {
  margin-right: 0;
}
.footer_nav {
  display: flex;
  justify-content: space-evenly;
}
.footer_social {

    display: flex;
    justify-content: space-evenly;
}
.list_purchases {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.list_purchases_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list_purchases_item > p {
    margin-right: 1em;
}
.list_purchases_item > p:last-of-type {
    margin-right: 0em;
}
.list_purchases_total {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list_purchases_total p {
    font-weight: 700;
    font-size: 1.5em
}

  display: flex;
  justify-content: space-evenly;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.FoodSquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  height: 250px;
  width: 250px;
  border: solid 10px #7f3f98;
  margin: 10px;
}

.fas {
  font-size: 180px;
}
a {
  text-decoration: none !important;
  color: green !important;
}

